.choose-items {
  width: 80%;
  margin: 40px auto;
}
.swiper-image {
  border-radius: 30px;
  width: 60%;
  height: 80vh;
  display: block;
  margin: 0 auto;
}
.choose-container {
  flex-direction: column;
  margin: 0 0;
}
.card-footer-find h3,
h2 {
  color: #000000;
}
.card-footer-find {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 20%;
  align-content: center;
}

.swiper-pagination-bullet {
  background-color: white;
}
.choose-label {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  color: #1789c9;
}
.hr-line-find {
  margin: 0 14rem;
  background-color: #1789c9;
  height: 2px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 100px;
  color: #1789c9;
}
.choose-label {
  margin-top: 112px;
}
