.choose-items {
  width: 80%;
  margin: 0 auto;
}
.swiper-image {
  border-radius: 30px;
  width: 60%;
  height: 80vh;
  display: block;
  margin: 0 auto;
}
.choose-container {
  flex-direction: column;
  margin: 100px 0;
}

.swiper-pagination-bullet {
  background-color: white;
}
.choose-label {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  color: #1789c9;
}
.hr-line-find {
  margin: 0 14rem;
  background-color: #1789c9;
  height: 2px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 100px;
  color: #1789c9;
}
