.choose-items {
  width: 80%;
  margin: 0 auto;
}
.swiper-image {
  border-radius: 30px;
  width: 60%;
  height: 80vh;
  display: block;
  margin: 0 auto;
}
.choose-container {
  flex-direction: column;
  margin: 100px 0;
}

.swiper-pagination-bullet {
  background-color: white;
}
