.center-hexagon {
  float: left;
  margin: 0;
  width: 100%;
}

.hexagon {
  cursor: pointer;
  height: 250px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
  transform: rotate(120deg);
}

.hex1 {
  transform: rotate(-60deg);
  height: 250px;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  height: 250px;
  transform: rotate(-60deg);
  visibility: visible;
  width: 100%;
}
.hex2 .backgroundImage {
  background-repeat: no-repeat;
}
.desc {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  height: 340px;
  margin: 0 10px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 200px;
}
.desc.hidden {
  display: none;
}
.desc.base {
  background: #17c95b98;
}
.desc.one {
  background: #4a227e98;
}

.desc.two {
  background: #00a2ffc7;
}

.desc.three {
  background: rgba(83, 70, 54, 0.75);
}

.desc h2 {
  margin: 200px 20px 0 20px;
}

.desc p {
  font-size: 0.5em;
  text-transform: lowercase;
}
