.page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.rounded-small {
  border-radius: 5px;
}
.rounded {
  border-radius: 10px;
}
