li {
  list-style: none;
}
.links a {
  text-decoration: none;
  font-size: 18px;
  color: #1789c9;
  margin-left: 20px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background: rgb(255, 255, 255);
}
.nav__brand {
  height: 80px;
  width: 80px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  position: absolute;
  right: 0;
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #1789c9;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 0;

    height: 90vh;
    width: 90vw;
    background: rgb(255, 255, 255);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .links {
    display: block;
  }
  .links li {
    margin-top: 10px;
  }
}
.buttons {
  display: flex;
  gap: 5%;
}

.nav__active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
