.landing {
  width: 100%;
  position: relative;
  min-height: 700px;
  top: 0;
  background-position: top center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../common/images/landing-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.landing > h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.landing > button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.landing > h1 {
  top: 50%;
  margin-top: -20.5px;
}

.landing > button {
  top: 70%;
  margin-top: -20.5px;
}

@media screen and (max-width: 1268px) {
  .landing {
    position: relative;
    background-size: 100% 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.reveal-div {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 5vh solid var(--c);
}
h2 {
  color: #1789c9;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}
.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s all ease;
}

.landing button {
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 50px;
}
.bgText {
  background-color: rgba(23, 137, 201, 0.5);
}
.about-container {
  background-color: white;
}
.hr-line {
  background-color: #1789c9;
  height: 2px;
  margin: 1rem 5rem;
}
.about-container h1 {
  margin-top: 50px;
  padding: 2rem 0 0 0;
  text-align: center;
  color: #1789c9;
}

.about-landing {
  height: 100%;
  width: 100%;
  gap: 2rem;
  padding: 4rem;
}

.landing-text {
  width: 50%;
}
.landing-text h2 {
  margin-bottom: 30px;
}
.landing-img {
  width: 50%;
}
.landing-img img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1068px) {
  .landing-img img {
    height: 300px;
    width: 450px;
  }
  .landing-text h2 {
    font-size: 16px;
  }
  .landing-text h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 968px) {
  .about-landing {
    height: 100%;
    width: 100%;
    gap: 2.5rem;
    padding: 3rem;
  }
  .landing-img img {
    height: 300px;
    width: 400px;
  }
  .landing-text h2 {
    font-size: 14px;
  }
  .landing-text h4 {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .about-landing {
    height: 100%;
    width: 100%;
    gap: 2.5rem;
    padding: 1rem;
  }

  .landing-img img {
    height: 200px;
    width: 300px;
  }
  .landing-text h2 {
    font-size: 12px;
  }
  .landing-text h4 {
    font-size: 10px;
  }
}
@media screen and (max-width: 568px) {
  .about-landing {
    margin-left: 20px;
    height: 100%;
    width: 90%;
    gap: 0.5rem;
    padding: 1rem;
  }

  .landing-img img {
    height: 150px;
    width: 200px;
  }
  .landing-text h2 {
    font-size: 12px;
  }
  .landing-text h4 {
    font-size: 10px;
  }
}
p {
  line-height: 1.5;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 89px;
}

.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #eb5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
  height: 20rem;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%;
}

.card > img {
  height: 60%;
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background-color: #1789c9;
}

.card-color-1 {
  background-color: #06527e;
}

.card-color-2 {
  background-color: #72b7df;
}

.card-color-3 {
  background-color: #5a8fad;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
section .waveWrapper {
  background-color: #1789c9;
  margin: 0;
  position: relative;
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  height: 60vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #1789c9 20%, #1789c9 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
