.landing {
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 750px;
  top: 0;
  background-position: top center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../common/images/landing-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section h1 {
  padding: 4rem 0 0 0;
  text-align: center;
  color: #1789c9;
}
.landing-h1 > h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.landing-btn {
  margin-top: 150px;
}

@media screen and (max-width: 1268px) {
  .landing {
    position: relative;
    background-size: 100% 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing h1 {
    top: 13%;
    font-size: 20px;
  }
  .landing-btn {
    margin-top: -150px;
  }
}
.reveal-div {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 5vh solid var(--c);
}
h2 {
  color: #1789c9;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}
.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s all ease;
}

.landing button {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  height: 55px;
}
.bgText {
  background-color: rgba(23, 137, 201, 0.5);
}
.about-container {
  margin: 50px 5rem;
  gap: 20px;
  background-color: #ffffff;
}
.hr-line {
  background-color: #1789c9;
  height: 2px;
  margin: 1rem 10%;
}

.about-container h1 {
  margin-top: 50px;
  padding: 2rem 0 0 0;
  color: #1789c9;
}

.about-landing {
  height: 100%;
  width: 100%;
  gap: 2rem;
  padding: 3rem;
}

.landing-text {
  width: 50%;
}
.landing-text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
.landing-img {
  width: 50%;
}
.landing-img img {
  border-radius: 10px;
  height: 350px;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .about-landing {
    flex-direction: column-reverse;
  }
  .about-landing .landing-text,
  .about-landing .landing-img {
    width: 100%;
    margin-bottom: 20px;
  }
}
p {
  line-height: 1.5;
}

.container-temp {
  background-color: #ffffff;
  position: relative;
  padding: 0 10%;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .container-temp {
    flex-direction: column;
  }
  .card h1 {
    font-size: 22px;
  }
}
.card-column {
  width: 70%;
}

.card {
  border-radius: 10px;
  width: 75%;
  max-width: 340px;
  margin: 2rem auto;

  position: relative;
  color: #fff;
  cursor: pointer;

  height: 18rem;
}

.border {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h2 {
  text-align: center;
  color: white;
  position: relative;
  padding: 220px 0px 100px 10px;
  width: 90%;
}

.card > img {
  border-radius: 10px;
  height: 80%;
  width: 80%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background-color: #72b7df;
}

.card-color-1 {
  background-color: #72b7df;
}

.card-color-2 {
  background-color: #72b7df;
}

.card-color-3 {
  background-color: #72b7df;
}
.button-temp button {
  height: 60px;
  width: 180px;
  font-weight: 750;
  margin: 10px 0 30px 0px;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.how-it-works-container.fade-in {
  opacity: 1;
}
.how-it-works-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-color: #1789c9;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.how-it-works-container h1 {
  margin-bottom: 10px;
  color: #ffffff;
}
.process-flow {
  padding: 30px 0;
  height: 100%;
}
.arrow {
  font-size: 24px;
  color: #ffffff;
}
.process-step {
  min-height: 200px;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: #1789c9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.process-step img {
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 868px) {
  .process-flow {
    flex-direction: column;
  }
}
