.input-common {
  height: 2.6rem;
  padding: 8px;
  width: 17rem;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.label-common {
  font-size: medium;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}
