.occasion-container {
  overflow: hidden;
  background-color: #ffffff;
}
.hexagons-temp h1 {
  padding: 7rem 0 0 0;
}
.hexagons-temp hr,
.switchable hr {
  width: 70%;
  margin: 1rem auto;
  margin-bottom: 7rem;
}
.switchable {
  margin-bottom: 5%;
}

.switchable-container {
  justify-content: space-around;
  padding: 0 10%;
}

.card .border {
  background-color: #1789c9;
}
.switchable-container .card {
  width: 25%;
}
.card img {
  width: 70%;
}
.active-switch {
  background-color: #1789c9;
}

.blurred,
.inactive {
  filter: blur(5px);
  opacity: 0.7;
}
.switchable h1 {
  padding: 7rem 0 0 0;
}

.personal-info {
  position: relative;
  padding-bottom: 20px;
}
.personal-info-container {
  justify-content: space-evenly;
}
.personal-info h1 {
  color: #1789c9;
}
.personal-info-container select {
  height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 10px;

  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
}
.label-select {
  gap: 10px;
  margin: 10px 0;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.label-select h4 {
  margin-left: 5px;
}
.errorMsg {
  display: none;
}

.errorMsg-display {
  align-items: center;
  justify-content: center;
  display: flex;
}
.errorMsg-display h5 {
  padding: 20px;
  border: 2px #d39191;
  box-shadow: 0 0 10px 2px red;
  color: red;
}
select option {
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #ccc;
}
select option:checked {
  background-color: #1789c9;
  color: #fff;
}
.find-btn {
  position: relative;
}
.find-btn button {
  font-size: 18px;
  font-weight: 700;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .personal-info-container {
    display: flex;
    flex-direction: column;
  }
  .switchable-container {
    flex-direction: column;
    gap: 40px;
    padding: 0 100px;
  }
  .hexagons-temp h1 {
    padding: 2rem 0 0 0;
  }
  .label-select {
    margin: 10px 0;
    width: 80%;
  }
  .switchable-container .card {
    width: 75%;
  }
}

.costum {
  background-color: #aed6ee;
  display: flex;

  z-index: 213;
  height: 100%;
}
.display-costum {
  display: none;
  margin-top: 20px;
}

.display-costum h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.text-area-box {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-area-box textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: none;
  resize: vertical;
  font-size: 1rem;
}

.text-area-box-footer {
  margin-top: 10px;
}

.text-area-box-footer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-area-box-footer button:hover {
  background-color: #0056b3;
}
