.nav__menu_user {
  background-color: #1789c9;
  border-radius: 100px 100px 100px 100px;
  width: 80%;
  z-index: 4;
  transform: translateX(-50%);
  top: 10px;
  left: 50%;
  height: 70px;
  position: absolute;
  padding: 0.3rem 4rem;
}
.links_user li:hover,
.links_user li:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.links_user a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 1rem;
  padding: 7px 19px;
}
.nav__menu_user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__menu_user h3 {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .nav__menu_user {
    position: fixed;
    top: 0;
    z-index: 332;
    right: 0;
    height: 100vh;
    width: 50%;
    background: #1789c9;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

.logo-nav {
  cursor: pointer;
}

.nav__brand {
  height: 50px;
  width: 50px;
}

.nav__toggler {
  position: fixed;
  right: 0;
  display: none;
}

.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #68b1db;
  transition: 0.3s ease-in;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__active {
    border-radius: 0;
    width: 100vh;
  }

  .nav__toggler {
    z-index: 332;
    display: block;
    cursor: pointer;
  }

  .links {
    display: block;
  }

  .links li {
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 568px) {
  .nav__toggler {
    background-color: #acd9f3;
  }

  .links li {
    display: flex;
    margin-top: 20px;
  }
}

.buttons {
  display: flex;
  gap: 5%;
}

.nav__active {
  transform: translateX(0%);
}
