.nav__menu_user {
  background-color: #1789c9;
  border-radius: 100px 100px 100px 100px;
  width: 80%;
  z-index: 4;
  transform: translateX(-50%);
  top: 10px;
  left: 50%;
  height: 70px;
  position: absolute;
  padding: 0.3rem 4rem;
}
.links_user li:hover,
.links_user li:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.logo-nav-user {
  cursor: pointer;
  background-image: url("../../common/base/logo/image/logo-text-inv.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
}
.links_user a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 1rem;
  padding: 7px 19px;
}
li {
  list-style: none;
}
.nav__menu_user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav__menu_user h3 {
  color: #ffffff;
}

@media screen and (max-width: 808px) {
  .nav__active {
    border-radius: 0;
    width: 100vh;
  }

  .logo-nav-user {
    cursor: pointer;
    background-image: url("../../common/base/logo/image/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
  }

  .nav__menu_user {
    position: fixed;
    top: 0;
    z-index: 332;
    right: 0;
    width: 50%;
    height: 100vh;
    background: #1789c9;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .links_user {
    display: block;
  }

  .links_user li {
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 568px) {
  .nav__toggler {
    border-radius: 10px;
    border: 2px solid #1789c9;
    background-color: #ffffff;
  }

  .links li {
    display: flex;
    margin-top: 20px;
  }
}

.buttons {
  display: flex;
  gap: 5%;
}

.nav__active {
  transform: translateX(0%);
}
.edit__active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #1789c9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit__active h3 {
  color: white;
  margin: 15px 0;
  cursor: pointer;
}
.none {
  display: none;
}
li {
  list-style: none;
}

.nav__toggler {
  position: fixed;
  right: 0;
  display: none;
}

.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #68b1db;
  transition: 0.3s ease-in;
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 808px) {
  .nav__toggler {
    z-index: 332;
    display: block;
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  gap: 5%;
}

.nav__active {
  transform: translateX(0%);
}
.nav__x {
  position: fixed;
  left: 0;
  z-index: 2013;
  width: 50%;
  height: 100%;
}
